:root{
    --web1-pink:#FA97C2;
    --web1-blue:#2FA0D5;
    --web1-green: #73C926;
}
body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Changa One', cursive;
    font-weight: 400;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
}

/* Menu header */
#menu-header a{
    color: #000;
    padding: 0.5rem;
    font-weight: bold;
    font-family: 'Changa One', cursive;
    margin-right: 2rem;
}

#menu-header li .active{
    color: var(--web1-blue);
}

#from-search i{
    color: var(--web1-green);
}

/* carousel */
#carousel-home{
    height: 20rem;
    padding: 3rem 0;
    background: url(../images/bg-banner.gif);
}
#carousel-home a{
    background-color: var(--web1-pink);
    color: white;
    font-family: 'Changa One', cursive;
    font-size: 2rem;

}

#small-banner{
    background: url("../images//bg-banner.gif");
    height: 0.5rem;
    
}

#carousel-home li{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel-home .active span{
    width: 0.6rem;
    height: 0.6rem;
    background-color: var(--web1-green);
    border-radius: 100%;
}

.readmore{
    color: var(--web1-blue);  
}

#product-home a{
    color: var(--web1-blue);
}

#product-home h3.text-blue{
    color: var(--web1-blue);
}

#about-us{
    background-color: var(--web1-pink);
}

#newsLetterSignUp{
    border: 3px rgba(0, 0, 0, 0.5) dashed;
    border-radius: 0.5rem;
    
}
#newsLetterSignUp button{
    font-family: 'Changa One', cursive;
}

#news-home .date{
    background-color: var(--web1-green);
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Changa One', cursive;
    width: 70px;
    height:60px;  
    word-wrap: break-word; 
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background: url(../images/bg-footer.gif);
    padding: 1.25rem 0;
}


footer li{
    padding: 0 2rem;
}

footer li a{
    color: white !important;
    font-family: 'Changa One', cursive;
}
footer li a.active{
    color: var(--web1-pink) !important;
}

/* Modal from login */
#modalFormLogin button{
    background-color: var(--web1-blue);
}

/* Detail */

#content-detail{
    padding: 2rem 0;

}
#content-detail p{
    color: rgba(0, 0, 0, 0.5);
}

/* --About-- */
/* Testimonials */

#about-us-content p{
    color: rgba(0, 0, 0, 0.5);
}

#testimonials-about{
    background-color: var(--web1-pink);
    padding: 3.75rem 7rem;
}
#detail-about-us p{
    color: rgba(0, 0, 0, 0.5);
}

/* Our team */

#our-team-about{
    padding: 0 5rem;
}
#our-team-about h1{
    color: rgba(0, 0, 0, 0.8);
}

/* Blogs */

#blogs-categories ul{
    list-style-type: none;

    
}