<div class="container-fluid mb-3" id="small-banner"></div>
{{#each data}}
  <div class="container" id="content-detail">
    <h1 class="text-black-10">{{name}}</h1>
    <p>{{{description}}}</p>
  </div>
{{/each}}