<h1 class="text-black-50 py-4">News</h1>
<div class="row">
  {{#each data}}
    <div class="col col-lg-4 col-md-6 col-sm-12 py-2">
      <div class="float-start me-4">
        <div class="date text-white rounded-4 text-center">
          {{date}}
        </div>
        <a href="?req=news/{{id}}" class="readmore btn btn-link p-0">Read more</a>
      </div>
      <div>
        <h3>{{name}}</h3>
        <p class="text-black-50">
          {{summary}}
        </p>
      </div>
    </div>
  {{/each}}
</div>