{{#each data}}
  <h1 class="text-black">
    {{name}}
  </h1>
  <div class="text-black-50 clearfix">
    <img
      src="{{thumbpath}}"
      alt="{{thumbpath}}"
      class="img-thumbnail float-start rounded-3 me-3"
    />
    {{{description}}}
  </div>
{{/each}}